:root {
    --primary-color: #0597F2;
    --secondary-color: #0CB1F2;
    --third-color: #0420BF;
    --fourth-color:#8C7F68;
    --fifth-color: rgb(217, 217, 217);
    --fifth-color-opacity01: rgba(217, 217, 217, 0.1);
    
}

body {
    margin: 0;
    background-color: var(--fifth-color-opacity01);
    min-height: 150vh;
}

.headerContainer {
    height: 30px;
    background-color: var(--primary-color);
}

.recommendedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0 0 0;
}

.recommendedFood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    border-radius: 12px;
    background-color: var(--fifth-color);
    
}

.recommendedFood span {
    text-align: center;
}

.recommendedSign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 44px;
    border-radius: 25px;
    color: white;
    background: rgba(0, 157, 255, 0.503);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7px);
    
    
    
}

.recommendedImg {
    width: 400px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    
}

.recommendedTitle {
font-weight: 700;


}

.recommendedTextContainer {
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7px);

}




.recommendedFoodBackground {
    background-image: url(https://source.unsplash.com/D-vDQMTfAAU);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 12px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;


}





.recommendedSign:hover {
    cursor: pointer;
    opacity: 0.8;
}

.foodPicture {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 20px;
}

.recommendedArrow {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -55px;
    right: 10px;
}

.recommendedArrow:hover {
    cursor: pointer;
    opacity: 0.8;
}


.MyFridgeContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0 0 0;

}


.MyFridge {
    height: 100px;
    width: 600px;
    background: var(--fifth-color);
    border-radius: 18px;
    padding: 20px;
    

}


.Ingredient {
    background: rgb(255, 255, 255);
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin: 5px;



}

.editIcon {
    width: 12px;
    height: 12px;
    background-color: #0420BF;
    display: inline-block;
    margin-left: 5px;
    margin-right: 2px;

    
}